{% for product in object_list %}
    {{ product.name}}
    <form method="POST" action="{% url 'add-stock' product.id %}">
            {% csrf_token %}
        <input type = "number" name = "quantidade" min = "1">
        <input type = "submit" value = "Adicionar ao Estoque">
    </form>
    <br>
    <form method="POST" action="{% url 'remove-stock' product.id %}">
            {% csrf_token %}
        <input type = "number" name = "quantidade" min = "1">
        <input type = "submit" value = "Remover do Estoque">
    </form>
{% endfor %}